<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spaker.pmsystem.mapper.PmsRetireEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.spaker.pmsystem.model.PmsRetireEmployee">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="birthplace" jdbcType="VARCHAR" property="birthplace" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="bankCard" jdbcType="VARCHAR" property="bankcard" />
    <result column="idCard" jdbcType="VARCHAR" property="idcard" />
    <result column="residence" jdbcType="VARCHAR" property="residence" />
    <result column="emergphone" jdbcType="VARCHAR" property="emergphone" />
    <result column="EmergencyContact" jdbcType="VARCHAR" property="emergencycontact" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sex, name, nation, native_place, birthplace, birthday, bankCard, idCard, residence, 
    emergphone, EmergencyContact
  </sql>
  <select id="selectByExample" parameterType="com.spaker.pmsystem.model.PmsRetireEmployeeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_retire_employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_retire_employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pms_retire_employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.spaker.pmsystem.model.PmsRetireEmployeeExample">
    delete from pms_retire_employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.spaker.pmsystem.model.PmsRetireEmployee">
    insert into pms_retire_employee (id, sex, name, 
      nation, native_place, birthplace, 
      birthday, bankCard, idCard, 
      residence, emergphone, EmergencyContact
      )
    values (#{id,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{nation,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, #{birthplace,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{bankcard,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{residence,jdbcType=VARCHAR}, #{emergphone,jdbcType=VARCHAR}, #{emergencycontact,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spaker.pmsystem.model.PmsRetireEmployee">
    insert into pms_retire_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="nativePlace != null">
        native_place,
      </if>
      <if test="birthplace != null">
        birthplace,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="bankcard != null">
        bankCard,
      </if>
      <if test="idcard != null">
        idCard,
      </if>
      <if test="residence != null">
        residence,
      </if>
      <if test="emergphone != null">
        emergphone,
      </if>
      <if test="emergencycontact != null">
        EmergencyContact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null">
        #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="bankcard != null">
        #{bankcard,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="residence != null">
        #{residence,jdbcType=VARCHAR},
      </if>
      <if test="emergphone != null">
        #{emergphone,jdbcType=VARCHAR},
      </if>
      <if test="emergencycontact != null">
        #{emergencycontact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.spaker.pmsystem.model.PmsRetireEmployeeExample" resultType="java.lang.Integer">
    select count(*) from pms_retire_employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pms_retire_employee
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.nation != null">
        nation = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.nativePlace != null">
        native_place = #{record.nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="record.birthplace != null">
        birthplace = #{record.birthplace,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bankcard != null">
        bankCard = #{record.bankcard,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null">
        idCard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.residence != null">
        residence = #{record.residence,jdbcType=VARCHAR},
      </if>
      <if test="record.emergphone != null">
        emergphone = #{record.emergphone,jdbcType=VARCHAR},
      </if>
      <if test="record.emergencycontact != null">
        EmergencyContact = #{record.emergencycontact,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pms_retire_employee
    set id = #{record.id,jdbcType=INTEGER},
      sex = #{record.sex,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      nation = #{record.nation,jdbcType=VARCHAR},
      native_place = #{record.nativePlace,jdbcType=VARCHAR},
      birthplace = #{record.birthplace,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      bankCard = #{record.bankcard,jdbcType=VARCHAR},
      idCard = #{record.idcard,jdbcType=VARCHAR},
      residence = #{record.residence,jdbcType=VARCHAR},
      emergphone = #{record.emergphone,jdbcType=VARCHAR},
      EmergencyContact = #{record.emergencycontact,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.spaker.pmsystem.model.PmsRetireEmployee">
    update pms_retire_employee
    <set>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null">
        birthplace = #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="bankcard != null">
        bankCard = #{bankcard,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idCard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="residence != null">
        residence = #{residence,jdbcType=VARCHAR},
      </if>
      <if test="emergphone != null">
        emergphone = #{emergphone,jdbcType=VARCHAR},
      </if>
      <if test="emergencycontact != null">
        EmergencyContact = #{emergencycontact,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spaker.pmsystem.model.PmsRetireEmployee">
    update pms_retire_employee
    set sex = #{sex,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      birthplace = #{birthplace,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      bankCard = #{bankcard,jdbcType=VARCHAR},
      idCard = #{idcard,jdbcType=VARCHAR},
      residence = #{residence,jdbcType=VARCHAR},
      emergphone = #{emergphone,jdbcType=VARCHAR},
      EmergencyContact = #{emergencycontact,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>